// $verde-oscuro-color: #2d3c2a;
// $verde-oscuro-color: #006d77;
//  $verde-oscuro-color: #f3f7f0;
// $verde-oscuro-color: #243022;
$verde-oscuro-color: #243022;

$verde-fuerte-color: #5c7757;
// $verde-fuerte-color: #243022;
// $verde-fuerte-color: #f3f7f0;


$verde-claro-color: #cbd3c3;
// $blanco-color: #fefcff;
$azul-color: #274c78;
$negro-color: #272322;

$blanco-color: #F3F7F0;
$azul-oscuro: #006D77;
$azul-claro: #6DAFA7;
$rosa-color: #FFDDD2;
$naranja-claro: #E29578;
$naranja-oscuro: #D87B5A;